.pageFooter{

    border-color: var(--md-sys-color-surface-variant);
    background-color: transparent;
    color: var(--md-sys-color-on-background);

}

.pageFooter .logo .dot{
    color: var(--md-sys-color-primary) !important;
    font-size: 2rem;
    line-height: 1px;
}

.pageFooter .navbar > a.active{
    color: var(--md-sys-color-primary) !important;
}